<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="40715Hemtex-WodzimierzKub.TheEnchantedCrayonVirtua"
	  Publisher="CN=2900FC6A-7E71-4893-9449-788546178C59"
	  Version="5.0.0.0" />

	<Properties>
		<DisplayName>ms-resource:Resources/PackageDisplayName</DisplayName>
		<PublisherDisplayName>Wlodzimierz O. Kubera</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26200.8037" />
	</Dependencies>

	<Resources>
		<Resource Language="en" />
		<Resource Language="en-GB" />
		<Resource Language="pl" />
		<Resource Language="ru" />
	</Resources>

	<Applications>
		<Application Id="AppCrayon"
		  Executable="Book\Book.exe" EntryPoint="Windows.FullTrustApplication">
			<uap:VisualElements
			DisplayName="ms-resource:Resources/ApplicationDisplayName"
			Description="ms-resource:Resources/ApplicationDescription"
			BackgroundColor="transparent"
			Square150x150Logo="Images\Square150x150Logo.png"
			Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
				<uap:SplashScreen Image="Images\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portraitFlipped"/>
					<uap:Rotation Preference="portrait"/>
				</uap:InitialRotationPreference>
				<uap:LockScreen BadgeLogo="Images\BadgeLogo.png"  Notification="badge"/>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>